@charset "UTF-8";
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

body {
  background-color: var(--color-white);
  color: var(--color-primary);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.section-title {
  color: var(--color-secondary);
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  margin-bottom: 50px;
}

.section-list {
  /*   @include flex(flex-start, space-between);
    gap: 30px;
    flex-direction: column; */
  color: red;
}

:root {
  --width-phone: 480px;
  --width-tablet:768px;
  --width-desktop:1200px;
  --color-primary: #757575;
  --color-secondary: #212121;
  --color-accent: #2196f3;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-ftr-text: rgba(255, 255, 255, 0.6);
  --color-background: #f5f5f5;
  --color-background-secondary: #f5f4fa; /*btns */
  --color-background-black: #2f303a;
  --color-border: #eeeeee;
  --color-fill-inactive: #afb1b8;
  --border-request-form__field: 1px solid rgba(33, 33, 33, 0.2);
  --border-email-input: 1px solid #ffffff4d;
  --shadow-static-triple: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  --card-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
    0px 1px 1px 0px #0000001f;
  --shadow-btn-triple: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001a;
  --btn-shadow: 0px 4px 4px 0px #00000026;
  --btn-shadow-test: 0px 40px 4px 0px #ff000026;
  /* net values */
  --card-columns: 3;
  --card-gap: 30px;
  /* animation */
  --anim-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  --anim-timing-test: 2050ms cubic-bezier(0.4, 0, 0.2, 1) 1000ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
Спочатку модальне вікно і бекдроп приховані за допомогою класу is-hidden на бекдропі, в
селекторі якого використовуються властивості visibility, opacity і pointer-events.
*/
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

div.test-div {
  background-color: aqua;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.container {
  width: calc(100% - 20px);
  padding: 0 15px;
  margin: 0 auto;
  background-color: orange;
}
@media screen and (min-width: 480px) {
  .container {
    background-color: teal;
  }
}
@media screen and (min-width: 768px) {
  .container {
    background-color: blue;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    background-color: white;
  }
}

.competence {
  display: none;
}
@media screen and (min-width: var(--width-desktop)) {
  .competence {
    display: block;
    padding-bottom: 94px;
  }
}

.competence__header {
  max-width: 200px;
}

.competence__item {
  width: 370px;
  position: relative;
}

/* = В секції Чим ми займаємось текст з фоном спозиційований
поверх зображення. */
.competence__title {
  position: absolute;
  width: inherit;
  height: 70px;
  padding-top: 27px;
  bottom: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.1721428571;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.card {
  height: 404px;
  width: 370px;
  transition: box-shadow var(--anim-timing);
}
.card:hover {
  box-shadow: var(--card-shadow);
}

/* =   Синій оверлей з текстом на картках сторінки Портфоліо з'являється
при ховері в будь-якому місці картки. оверлей  виїжджає знизу */
.card__wrap {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  position: absolute;
  top: 100%;
  transition: top var(--anim-timing);
}
.card:hover .card__overlay {
  top: 0px;
}

.card__description {
  padding: 20px 24px 19px;
  border-bottom: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06;
  color: var(--color-secondary);
  margin-bottom: 4px;
}

.card__subtitle {
  font-size: 16px;
  line-height: 1.875;
  color: var(--color-primary);
}

.cardset {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-gap));
  margin-left: calc(-1 * var(--card-gap));
}

.cardset__item {
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
  flex-basis: calc(100% / var(--card-columns) - var(--card-gap) * (var(--card-columns) - 1));
}

/* фон - Велике зображення з ефектом затемнення (під хедером).
не розтягується ширше свого оригінального розміру 1600рх.
Затемнення - багатошаровий фон з градієнтом  */
.hero {
  width: 100%;
  /* background-color: var(--color-background-black); */
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/HeroImg480.jpg);
  background-size: 480px 400px;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
}
.hero__btn {
  width: 216px;
  height: 50px;
  color: var(--color-white);
  background-color: var(--color-accent);
  box-shadow: var(--btn-shadow);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.hero__title {
  color: var(--color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.profile {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .profile {
    padding: 94px 0;
  }
}

@media screen and (min-width: 1200px) {
  .profile-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    flex-direction: column;
    color: red;
  }
}

.profile__item {
  width: calc(100% - 60px);
}
.profile__item::before {
  display: block;
  content: "";
  height: 120px;
  width: calc(100% - 50px);
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--color-background-secondary);
  background-repeat: no-repeat;
  background-position: center;
}

.attention.profile__item::before {
  background-image: url("../images/antenna.svg");
}

.punctuality.profile__item::before {
  background-image: url("../images/clock.svg");
}

.planning.profile__item::before {
  background-image: url("../images/diagram.svg");
}

.technology.profile__item::before {
  background-image: url("../images/astronaut.svg");
}

.profile__title {
  color: var(--color-secondary);
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.profile__description {
  text-transform: none;
}

.clients {
  padding: 94px 0;
}

.clients-item {
  height: 92px;
  width: 170px;
}

.client-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--color-fill-inactive);
  padding: 16px 32px;
  transition: border-color var(--anim-timing);
}
.client-link:focus, .client-link:hover {
  border-color: var(--color-accent);
}

.clients-icon {
  height: 60px;
  width: 106px;
  fill: var(--color-fill-inactive);
  transition: fill var(--anim-timing);
}
.client-link:focus .clients-icon, .client-link:hover .clients-icon {
  fill: var(--color-accent);
}