@charset "UTF-8";
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

body {
  background-color: var(--color-white);
  color: var(--color-primary);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.section-title {
  color: var(--color-secondary);
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.1717857143;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}

.section-list {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .section-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.accented {
  color: var(--color-accent);
}

.no-scroll {
  overflow: hidden;
}

.logo {
  font-family: Raleway;
  display: inline-block;
}
@media screen and (max-width: 1199px) {
  .logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1741666667;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923076923;
  }
}
.logo--accent {
  color: var(--color-accent);
}

:root {
  --hero-grad: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    );
  --color-primary: #757575;
  --color-secondary: #212121;
  --color-accent: #2196f3;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-ftr-text: rgba(255, 255, 255, 0.6);
  --color-background: #f5f5f5;
  --color-background-secondary: #f5f4fa; /*btns */
  --color-background-black: #2f303a;
  --color-border: #eeeeee;
  --color-fill-inactive: #afb1b8;
  --border-request-form__field: 1px solid rgba(33, 33, 33, 0.2);
  --border-email-input: 1px solid #ffffff4d;
  --shadow-static-triple: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  --card-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
    0px 1px 1px 0px #0000001f;
  --shadow-btn-triple: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001a;
  --btn-shadow: 0px 4px 4px 0px #00000026;
  --btn-shadow-test: 0px 40px 4px 0px #ff000026;
  --card-gap: 30px;
  /* animation */
  --anim-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  --anim-timing-test: 2050ms cubic-bezier(0.4, 0, 0.2, 1) 1000ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
Спочатку модальне вікно і бекдроп приховані за допомогою класу is-hidden на бекдропі, в
селекторі якого використовуються властивості visibility, opacity і pointer-events.
*/
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.container {
  width: 100%;
  min-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.competence {
  display: none;
}
@media screen and (min-width: 1200px) {
  .competence {
    display: block;
    padding-bottom: 94px;
  }
}

.competence__item {
  width: 370px;
  position: relative;
}

/* = В секції Чим ми займаємось текст з фоном спозиційований
поверх зображення. */
.competence__title {
  position: absolute;
  width: inherit;
  height: 70px;
  padding-top: 27px;
  bottom: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.1721428571;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

/* line height increased to extende link active zone */
.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    gap: 40px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-primary);
  fill: var(--color-primary);
  transition: color var(--anim-timing), fill var(--anim-timing);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--color-accent);
  fill: var(--color-accent);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    gap: 10px;
  }
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: block;
    margin-right: auto;
    margin-left: 88px;
  }
  .navigation__list {
    display: flex;
    gap: 50px;
    font-weight: 500;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
  }
  .navigation__link {
    color: var(--color-secondary);
    transition: color var(--anim-timing);
  }
  .navigation__link--current {
    position: relative;
    color: var(--color-accent);
  }
  .navigation__link--current::after {
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--color-accent);
    display: block;
    position: absolute;
    bottom: -33px;
  }
  .navigation__link--active:hover, .navigation__link--active:focus {
    color: var(--color-accent);
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    margin-left: 93px;
  }
  .navigation__list {
    gap: 53px;
  }
  .navigation--current::after {
    bottom: -20px;
  }
}

.addr {
  font-style: inherit;
  text-align: center;
}
.addr__link {
  display: block;
  line-height: 1.1428571429;
  color: var(--color-ftr-text);
}
.addr__link:not(:last-child) {
  margin-bottom: 12px;
}
.addr__link:hover, .addr__link:focus {
  color: var(--color-accent);
}
.addr__link--white {
  color: var(--color-white);
}

.card {
  max-width: 450px;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  transition: box-shadow var(--anim-timing);
}
@media screen and (min-width: 768px) {
  .card {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    width: 370px;
  }
}
.card:hover {
  box-shadow: var(--card-shadow);
}

/* .card__img {
  width: 100%;

  @include tablet {
    width: 354px;
  }
} */
/* =   Синій оверлей з текстом на картках сторінки Портфоліо з'являється
при ховері в будь-якому місці картки. оверлей  виїжджає знизу */
.card__wrap {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  width: 100%;
  height: 100%;
  padding: 49px 24px 49px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  position: absolute;
  top: 100%;
  transition: top var(--anim-timing);
}
.card:hover .card__overlay {
  top: 0px;
}

.card__description {
  padding: 20px 24px 19px;
  border-bottom: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-secondary);
  margin-bottom: 4px;
}

.card__subtitle {
  font-size: 16px;
  line-height: 1.875;
  color: var(--color-primary);
}
@media (min-width: 767px) and (max-width: 1199px) {
  .card__subtitle.double-height {
    padding-bottom: 36px;
  }
}

.cardset {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
}
@media screen and (min-width: 768px) {
  .cardset {
    gap: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-gap));
    margin-left: calc(-1 * var(--card-gap));
  }
}

@media screen and (min-width: 768px) {
  .cardset__item {
    margin-left: var(--card-gap);
    margin-top: var(--card-gap);
    flex-basis: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .cardset__item {
    flex-basis: calc(33.3333333333% - 60px);
  }
}

.subscription__wrap {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .subscription__wrap {
    flex-direction: row;
    gap: 12px;
  }
}

.subscription__input {
  width: calc(100vw - 30px);
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-ftr-text);
  border: var(--border-email-input);
  border-radius: 4px;
  box-shadow: none;
  transition: border-color var(--anim-timing), box-shadow var(--anim-timing);
}
@media screen and (min-width: 480px) {
  .subscription__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
  }
}
.subscription__input:hover, .subscription__input:focus {
  border-color: var(--color-accent);
  box-shadow: var(--btn-shadow);
}

.send-email__btn {
  width: 200px;
  height: 50px;
  color: var(--color-white);
  background-color: var(--color-accent);
  box-shadow: var(--btn-shadow);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.soc-list {
  display: flex;
  gap: 10px;
}
.soc-list--centered {
  justify-content: center;
}
.soc-list__item {
  width: 44px;
  height: 44px;
}
.soc-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: transparent;
  transition: background-color var(--anim-timing);
}
.soc-list__link--bkg-dark {
  background-color: rgba(255, 255, 255, 0.1);
}
.soc-list__link:focus, .soc-list__link:hover {
  background-color: var(--color-accent);
}
.soc-list__icon {
  fill: var(--color-fill-inactive);
  transition: fill var(--anim-timing);
}
.soc-list__link:focus .soc-list__icon, .soc-list__link:hover .soc-list__icon {
  fill: #fff;
}

/* оформлення напівпрозорого «бекдропа». «Бекдроп» заповнює 100% висоти і ширини в'юпорту */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--anim-timing);
}

/*
 Модальне вікно спозиційоване посередині бекдропа. Поява і
 приховування модального вікна анімовано за
допомогою переходу з довільним ефектом, наприклад scale або
translate, і opacity.
*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100vw - 80px);
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: var(--shadow-static-triple);
  transform: translate(-50%, -50%);
  transition: transform var(--anim-timing);
  padding: 40px;
}
@media screen and (max-width: 1199px) {
  .modal {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal__btn {
  width: 200px;
  height: 50px;
  color: var(--color-white);
  background-color: var(--color-accent);
  box-shadow: var(--btn-shadow);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1) rotate(-90deg);
}

.modal__title {
  display: block;
  width: 100%;
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

/* HW6 contact request form */
.request-form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 4px;
}

/* borders and style for :focus */
.bordered {
  border: var(--border-request-form__field);
  border-radius: 4px;
  transition: border-color var(--anim-timing);
}
.bordered:focus-visible {
  outline-style: none;
}
.bordered:hover, .bordered:focus {
  border-color: var(--color-accent);
}

.bordered + svg,
.bordered + svg {
  fill: var(--color-secondary);
  transition: fill var(--anim-timing);
}

.bordered:hover + svg,
.bordered:focus + svg {
  fill: var(--color-accent);
}

/* box for icon and input - name, phone, email*/
.request-form__field {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.request-form__field > svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.request-form__field > input {
  width: 100%;
  height: 100%;
  padding-left: 42px;
  cursor: pointer;
}

.comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 12px;
  resize: none;
  cursor: pointer;
}

.comment::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

/* HW#6 Customized checkbox */
.consent-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-bottom: 31px;
}
@media screen and (min-width: 1200px) {
  .consent-text {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.consent-text .checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-secondary);
  border-radius: 2px;
  margin-right: 7px;
  display: inline-flex;
  align-items: center;
  fill: transparent;
  transition: border-color var(--anim-timing);
}
.consent-input:checked + .consent-text .checkbox {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  fill: #fff;
}
.consent-input:hover + .consent-text .checkbox, .consent-input:focus + .consent-text .checkbox {
  border-color: var(--color-accent);
}

.consent-link {
  color: var(--color-accent);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  margin-left: 0.3em;
}

/* Hide default checkbox */
.consent-input {
  /* display: none; Not Ok - not getting tab focus*/
  border: 0;
  opacity: 0;
  height: 0;
  width: 0;
  padding: 0px;
  position: absolute;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 330px;
}
@media screen and (min-width: 768px) {
  .filters {
    width: 100%;
    justify-content: center;
  }
}
.filters__btn {
  color: var(--color-secondary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  transition: background-color var(--anim-timing), color var(--anim-timing), box-shadow var(--anim-timing);
}
.filters__btn:hover, .filters__btn :focus {
  color: var(--color-white);
  background-color: var(--color-accent);
  box-shadow: var(--shadow-btn-triple);
}

@media screen and (max-width: 767px) {
  .filters__item:first-child {
    margin-bottom: 7px;
  }
}
.btn {
  border-radius: 4px;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* оформлення кнопки закриття модального вікна  */
.btn-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--color-secondary);
  transition: fill var(--anim-timing);
}
.btn-close:hover, .btn-close:focus {
  fill: var(--color-accent);
}

.hdr {
  border-bottom: 1px solid #ececec;
}

.hdr__container {
  height: 60px;
  padding: auto 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .hdr__container {
    height: 80px;
  }
}

.hdr__logo {
  color: var(--color-black);
}

.hdr__menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .hdr__menu {
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 0 48px 40px;
  }
}

.menu-open {
  display: none;
}
@media screen and (max-width: 767px) {
  .menu-open {
    display: block;
    background-color: #fff;
    border-style: none;
    margin: 0;
    padding: 0;
    fill: var(--color-secondary);
    transition: fill var(--anim-timing);
  }
  .menu-open:hover, .menu-open:focus {
    fill: var(--color-accent);
  }
}

.menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: #fff;
  border-style: none;
  margin: 0;
  padding: 0;
  fill: var(--color-secondary);
  transition: fill var(--anim-timing);
}
.menu-close:hover, .menu-close:focus {
  fill: var(--color-accent);
}

.menu-icon {
  display: block;
}

.nav {
  font-weight: 500;
  font-size: 8vw;
  line-height: 1.172;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 480px) {
  .nav {
    font-size: 40px;
  }
}

.nav__link {
  color: var(--color-secondary);
}
.nav__link:hover, .nav__link:focus {
  color: var(--color-accent);
}

.menu__contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contacts-phone {
  font-weight: 500;
  font-size: 7vw;
  line-height: 1.1717647059;
  letter-spacing: 0.02em;
  color: var(--color-accent);
}
@media screen and (min-width: 480px) {
  .contacts-phone {
    font-size: 34px;
  }
}

.contacts-email {
  color: var(--color-primary);
  font-weight: 500;
  font-size: 7vw;
  line-height: 1.1720833333;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 480px) {
  .contacts-email {
    font-size: 24px;
  }
}

.soc {
  display: flex;
  font-weight: 500;
  font-size: 4vw;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  margin-top: 32px;
}
@media screen and (min-width: 480px) {
  .soc {
    font-size: 18px;
  }
}

.soc__item {
  padding: 0 10px;
}
.soc__item:first-child {
  padding-left: 0;
}
.soc__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.soc__link {
  color: var(--color-accent);
}

/* фон - Велике зображення з ефектом затемнення (під хедером).
не розтягується ширше свого оригінального розміру 1600рх.
Затемнення - багатошаровий фон з градієнтом  */
.hero {
  width: 100%;
  height: 400px;
  min-width: 320px;
  padding: 118px 0;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: var(--hero-grad), url("../images/hero/Hero480.jpg");
  background-image: var(--hero-grad), url("../images/hero/Hero480.webp");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--hero-grad), url("../images/hero/Hero480@2x.jpg");
    background-image: var(--hero-grad), url("../images/hero/Hero480@2x.webp");
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: var(--hero-grad), url("../images/hero/Hero768.jpg");
    background-image: var(--hero-grad), url("../images/hero/Hero768.webp");
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--hero-grad), url("../images/hero/Hero768@2x.jpg");
    background-image: var(--hero-grad), url("../images/hero/Hero768@2x.webp");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--hero-grad), url("../images/hero/Hero1600.jpg");
    background-image: var(--hero-grad), url("../images/hero/Hero1600.webp");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--hero-grad), url("../images/hero/Hero1600@2x.jpg");
    background-image: var(--hero-grad), url("../images/hero/Hero1600@2x.webp");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  color: var(--color-white);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636363636;
    letter-spacing: 0.06em;
  }
}

.hero__btn {
  width: 216px;
  height: 50px;
  color: var(--color-white);
  background-color: var(--color-accent);
  box-shadow: var(--btn-shadow);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.profile {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .profile {
    padding: 94px 0;
  }
}

.profile-list {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .profile-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.profile__item {
  width: 100%;
}
.profile__item::before {
  display: block;
  content: "";
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--color-background-secondary);
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .profile__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .profile__item:nth-last-child(-n+2) > .profile__description {
    min-height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .profile__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.profile__title {
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--color-secondary);
}
@media screen and (max-width: 767px) {
  .profile__title {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .profile__description {
    min-height: 50px;
  }
}

.attention.profile__item::before {
  background-image: url("../images/profile/antenna.svg");
}

.punctuality.profile__item::before {
  background-image: url("../images/profile/clock.svg");
}

.planning.profile__item::before {
  background-image: url("../images/profile/diagram.svg");
}

.technology.profile__item::before {
  background-image: url("../images/profile/astronaut.svg");
}

.team {
  background-color: var(--color-background-secondary);
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

.team__card {
  background-color: var(--color-white);
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--shadow-static-triple);
}
@media screen and (min-width: 768px) {
  .team__card {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team__name {
  color: var(--color-secondary);
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 30px;
}

.team__position {
  margin-bottom: 16px;
}

.clients {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}

.clients__title {
  color: var(--color-secondary);
  text-align: center;
  font-size: 28px;
  line-height: 1.1717857143;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.clients__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--color-fill-inactive);
  transition: border-color var(--anim-timing);
}
.clients__link:focus, .clients__link:hover {
  border-color: var(--color-accent);
}

.clients__icon {
  height: 60px;
  width: 106px;
  fill: var(--color-fill-inactive);
  transition: fill var(--anim-timing);
}
.client__link:focus .clients__icon, .client__link:hover .clients__icon {
  fill: var(--color-accent);
}

.projects {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .projects {
    padding: 94px 0;
  }
}

.projects__filters {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .projects__filters {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__filters {
    margin-bottom: 50px;
  }
}

.ftr {
  padding: 60px 0;
  background-color: var(--color-background-black);
}
.ftr__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .ftr__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .ftr__container {
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
  }
}
.ftr__title {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.1721428571;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .ftr__title {
    text-align: left;
  }
}
.ftr__logo {
  color: var(--color-white);
  margin-bottom: 28px;
  width: 100%;
  text-align: center;
}