@charset "UTF-8";
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--color-white);
  color: var(--color-primary);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.test-div {
  background-color: aqua;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.div-fluid {
  padding: 1rem 0;
  background-color: teal;
}

/* Приклад респонсивної верстки */
.container-1 {
  width: 100%;
  min-height: 100px;
  padding: 1rem 0;
  background-color: rgb(111, 124, 124);
}

@media screen and (min-width: 450px) {
  .container-1 {
    width: 60%;
    background-color: rgb(174, 168, 211);
  }
}
@media screen and (min-width: 550px) {
  .container-1 {
    width: 30%;
    background-color: rgb(107, 74, 130);
  }
}
/* Приклад адаптивної верстки */
/* .container-1{
  width: 180px;
  min-width: 280px;
  min-height: 100px;
  padding: 1rem 0;
  background-color: teal;
}
@media screen and (min-width: 350px) {
  .container-1 {
    width: 270px;
    background-color: slateblue;
  }
}
@media screen and (min-width: 550px) {
  .container-1 {
    width: 320px;
    background-color: indigo;
  }
} */
/* .container-fluid {
  padding: 1rem 0;
  background-color: teal;
}
.container {
  min-height: 100px;
  width: 320px;
  margin: auto;
  background-color: antiquewhite;
}
@media screen and (min-width: 550px) {
  .container-fluid {
    background-color: slateblue;
  }
  .container {
    width: calc(550px - 20px);
    background-color: lavender;
  }
} */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

body {
  background-color: var(--color-white);
  color: var(--color-primary);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.section-title {
  color: var(--color-secondary);
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  margin-bottom: 50px;
}

.section-list {
  /*   @include flex(flex-start, space-between);
    gap: 30px;
    flex-direction: column; */
  color: red;
}

:root {
  --width-phone: 480px;
  --width-tablet:768px;
  --width-desktop:1200px;
  --color-primary: #757575;
  --color-secondary: #212121;
  --color-accent: #2196f3;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-ftr-text: rgba(255, 255, 255, 0.6);
  --color-background: #f5f5f5;
  --color-background-secondary: #f5f4fa; /*btns */
  --color-background-black: #2f303a;
  --color-border: #eeeeee;
  --color-fill-inactive: #afb1b8;
  --border-request-form__field: 1px solid rgba(33, 33, 33, 0.2);
  --border-email-input: 1px solid #ffffff4d;
  --shadow-static-triple: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  --card-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
    0px 1px 1px 0px #0000001f;
  --shadow-btn-triple: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001a;
  --btn-shadow: 0px 4px 4px 0px #00000026;
  --btn-shadow-test: 0px 40px 4px 0px #ff000026;
  /* net values */
  --card-columns: 3;
  --card-gap: 30px;
  /* animation */
  --anim-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  --anim-timing-test: 2050ms cubic-bezier(0.4, 0, 0.2, 1) 1000ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
Спочатку модальне вікно і бекдроп приховані за допомогою класу is-hidden на бекдропі, в
селекторі якого використовуються властивості visibility, opacity і pointer-events.
*/
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.container {
  width: calc(100% - 20px);
  padding: 0 15px;
  margin: 0 auto;
  background-color: orange;
}
@media screen and (min-width: 480px) {
  .container {
    background-color: teal;
  }
}
@media screen and (min-width: 768px) {
  .container {
    background-color: blue;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    background-color: white;
  }
}

.competence {
  display: none;
}
@media screen and (min-width: var(--width-desktop)) {
  .competence {
    display: block;
    padding-bottom: 94px;
  }
}

.competence__header {
  max-width: 200px;
}

.competence__item {
  width: 370px;
  position: relative;
}

/* = В секції Чим ми займаємось текст з фоном спозиційований
поверх зображення. */
.competence__title {
  position: absolute;
  width: inherit;
  height: 70px;
  padding-top: 27px;
  bottom: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.1721428571;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.profile {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .profile {
    padding: 94px 0;
  }
}

@media screen and (min-width: 1200px) {
  .profile-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    flex-direction: column;
    color: red;
  }
}

.profile__item {
  width: calc(100% - 60px);
}
.profile__item::before {
  display: block;
  content: "";
  height: 120px;
  width: calc(100% - 50px);
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--color-background-secondary);
  background-repeat: no-repeat;
  background-position: center;
}

.attention.profile__item::before {
  background-image: url("../images/antenna.svg");
}

.punctuality.profile__item::before {
  background-image: url("../images/clock.svg");
}

.planning.profile__item::before {
  background-image: url("../images/diagram.svg");
}

.technology.profile__item::before {
  background-image: url("../images/astronaut.svg");
}

.profile__title {
  color: var(--color-secondary);
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.profile__description {
  text-transform: none;
}