.addr {
  font-style: inherit;
  text-align: center;

  &__link {
    display: block;
    line-height: calc(16 / 14);
    color: var(--color-ftr-text);

    &:not(:last-child) {
      margin-bottom: 12px;
    }
    @include accented-color;
  }

  &__link--white {
    color: var(--color-white);
  }
}
