.cardset {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);

  @include tablet {
    gap: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc((-1) * var(--card-gap));
    margin-left: calc((-1) * var(--card-gap));
  }
}

.cardset__item {
  @include tablet {
    margin-left: var(--card-gap);
    margin-top: var(--card-gap);
    flex-basis: calc(100% / 2 - 30px);
  }
  @include desktop {
    flex-basis: calc(100% / 3 - 2 * 30px);
  }
}
