.container {
  width: 100%;
  min-width: 320px;
  padding: 0 15px;
  margin: 0 auto;

  //NB! three media requests below shall be commented for responsive design
   @media screen and (min-width: 480px) {
    width: 480px;
   // background-color: teal;
  }

    @media screen and (min-width: 768px) {
    //  background-color: blue;
      width: 768px;
    }

    @media screen and (min-width: 1200px) {
    //  background-color: aqua;
      width: 1200px;
    }
}
