.container {
  width: 100%;
  min-width: 320px;
  padding: 0 15px;
  margin: 0 auto;

  //NB! three media requests below shall be commented for responsive design
  @include mobile  {
    width: 480px;
   // background-color: teal;
  }

   @include tablet  {
    //  background-color: blue;
      width: 768px;
    }

   @include desktop  {
    //  background-color: aqua;
      width: 1200px;
    }
}
