.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 330px;

  @include tablet {
    width: 100%;
    justify-content: center;
  }

  &__btn {
    color: var(--color-secondary);
    @include font(500, 16px, calc(26 / 16), 0.03em);
    padding: 6px 22px;
    transition: background-color var(--anim-timing), color var(--anim-timing),
      box-shadow var(--anim-timing);

    &:hover,
    & :focus {
      color: var(--color-white);
      background-color: var(--color-accent);
      box-shadow: var(--shadow-btn-triple);
    }
  }
}

@include only_mobile {
  .filters__item:first-child {
    margin-bottom: 7px;
  }
}
