.logo {
  //Block styles
  font-family: Raleway;
  display: inline-block;

  @include till_desktop {
    @include font(700, 24px, calc(28.18 / 24), null);
  }

  @include desktop {
    @include font(700, 26px, calc(31 / 26), null);
  }
  //Element modificators
  &--accent {
    color: var(--color-accent);
  }
}

