.logo {
  //Block styles
  @include font(700, 26px, calc(31 / 26), null);
  font-family: Raleway;
  display: inline-block;

  //Element modificators
  &--accent {
    color: var(--color-accent);
  }
}
