.subscription__wrap {
  display: flex;
  gap: 20px; //12px;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    gap: 12px;
  }
}

.subscription__input {
  width: calc(100vw - 30px);

  @include mobile {
    width: 450px;
  }
  @include desktop {
    width: 358px;
  }

  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  @include font(400, 16px, calc(20 / 16), null);
  color: var(--color-ftr-text);

  border: var(--border-email-input);
  border-radius: 4px;
  box-shadow: none;
  transition: border-color var(--anim-timing), box-shadow var(--anim-timing);

  &:hover,
  &:focus {
    border-color: var(--color-accent);
    box-shadow: var(--btn-shadow);
  }
}

.send-email__btn {
  @include btn-white-on-accent(200px);
}

