.section-title {
  color: var(--color-secondary);
  text-align: center;
  margin-bottom: 30px;
  @include font(null, 28px, calc(32.81 / 28), null);

  @include tablet {
      @include font(null, 36px, calc(42 / 36), null);
        margin-bottom: 50px;
  }
}

.section-list { 
  display: flex;
  gap: 30px;
  flex-direction: column;

 @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.accented {
  color: var( --color-accent);
}

.no-scroll {
  overflow: hidden;
}
