.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
Спочатку модальне вікно і бекдроп приховані за допомогою класу is-hidden на бекдропі, в
селекторі якого використовуються властивості visibility, opacity і pointer-events.
*/
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
