.hdr {
  border-bottom: 1px solid #ececec;

  //mixes
  &__container {
    @include flex(center, null);
/*   display: flex;
  align-items: center; */
}

&__logo {
  color: var(--color-black);
  padding: 24px 0;
  margin-right: 93px;
}

&__navigation {
  margin-right: auto;
}

}
