.hdr {
  border-bottom: 1px solid #ececec;

  //mixes
  &__container {
    padding: 10px 15px;
    @include flex(center, space-between);
    //    @include flex(center, null);
  }

  &__logo {
    color: var(--color-black);
    // padding: 24px 0;
    // margin-right: 93px;
  }

  &__navigation {
    display: none;
    margin-right: auto;
  }
}

.contacts.hdr__contacts {
  display: none;
}

.hdr__menu-icon {
  fill: var(--color-secondary);
  transition: fill var(--anim-timing);
  display: block;
  
  //active icon styles
  .hdr__menu-btn:focus &,
  .hdr__menu-btn:hover & {
    fill: var(--color-accent);
  }
}

.hdr__menu-btn {
  background-color: #fff;
  border-style: none;
  margin: 0;
  padding: 0;
}
