.projects {
padding: 60px 0;
    @include desktop {
    padding: 94px 0;
  }

}

.projects__filters {
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 30px;
  }

  @include desktop {
    margin-bottom: 50px;
  }

}

