.profile {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.profile-list {
  display: flex;
  gap: 30px;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.profile__item {
  width: 100%;

  &::before {
    display: block;
    content: "";
    height: 120px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--color-background-secondary);
    background-repeat: no-repeat;
    background-position: center;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
    &:nth-last-child(-n + 2) > .profile__description { //as per Figma
      min-height: 50px;
    }
  }

 @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
}

.profile__title {
  @include font(null, 14px, calc(16 / 14), null);
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--color-secondary);

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.profile__description {
  @media screen and (max-width: 767px) {
    min-height: 50px; //as per Figma
  }
}

.attention.profile__item::before {
  background-image: url("../images/antenna.svg");
}
.punctuality.profile__item::before {
  background-image: url("../images/clock.svg");
}
.planning.profile__item::before {
  background-image: url("../images/diagram.svg");
}
.technology.profile__item::before {
  background-image: url("../images/astronaut.svg");
}

